<html>
    <head>
        <meta charset="utf-8">
        <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
        <meta name="renderer" content="webkit">
        <title>
            Announcement
        </title>
        <link rel="stylesheet" type="text/css" href="/static/_common.css">
        <link rel="stylesheet" type="text/css" href="/static/notice_details.css">
        <script type="text/javascript" src="/static/jquery-1.11.3.min.js"></script>
</head>
    <body>
           <form method="post" enctype="multipart/form-data">
                <input type="file" class="form-control" name="avatar" id="inputEmail3" placeholder="file">
    <button type="submit" class="btn btn-danger">添加</button>
</form>
</body>                                    
</html>    

